* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: url('homemain.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* 로고 스타일링 */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; /* 로고와 로그인 창 간격 */
}

.logo-container i {
  color: #02801a;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #02801a;
  margin-top: 10px;
  text-decoration: none;
}

/* 로그인 폼 스타일 */
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* 약간 투명한 배경 */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #02801a;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 15px;
  background-color: #02801a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #026c14;
}

.redirect-text {
  text-align: center;
  margin-top: 10px;
}

.redirect-text a {
  color: #02801a;
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}
