* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #000000;
    --background-color: #fff;
    --accent-color: #a6c7a6;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-size: cover; /* 배경 이미지가 화면을 가득 채우도록 설정 */
    display: flex;
    flex-direction: column;
    background: url('homemain.png')  center center/cover;
    padding: 50px;
    background-color: rgb(255, 246, 234);
    text-align: center;
    top: 60px; /* 네비게이션 바의 높이에 맞추세요 */
    left: 0;
    margin-top: 60px;
    padding: 20px;
    z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 설정 */
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    background-attachment: fixed;
    
}
a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20px;
}

.navbar__logo {
    font-size: 18px;
    color: #02801a;
    margin-right: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li {
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 40px;
}

.navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius: 10px;
}
.navbar__icons {
    color: var(--text-color);
    list-style: none;
    display: flex;
    padding-left: 0;
}
.navbar__icons li {
    font-size: 20px;
    padding: 8px 12px;
}
.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--text-color);
}

header {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 80px; /* Add padding to prevent overlap with fixed navbar */
}


span{
    color: #02801a;
    font-weight: bold; 
}
ul {
    list-style: none; /* 불릿 제거 */
    padding: 0; /* 기본 여백 제거 */
  }

.product-details {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 254, 252, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    flex: 1;
    min-width: 300px;
    align-items: center;
}

.product-info {
    flex: 2;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}
.product-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    min-width: 300px;
    
}
button.add-to-cart {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #02801a;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button.add-to-cart:hover {
    background-color: #025b17;
    transform: scale(1.05);
}


.product-heart h2 {
    margin: 0;
    font-size: 1.2rem; /* 텍스트 크기 조절 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    flex-shrink: 0; /* 화면이 줄어도 텍스트가 줄어들지 않도록 설정 */
}

  
#buttons{
	font-size: 24px;
	font-size: 1.5rem; /* 아이콘 크기 조절 */
    flex-shrink: 0; /* 아이콘이 줄어들지 않도록 설정 */
}


.footer_bar {
    padding: 40px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
.footer_text {
    list-style: none;
    text-align: center;
}
.footer_text li {
    display: inline-block; /* 리스트를 가로로 배치합니다. */
    margin: 0 10px; /* 각 리스트 사이의 여백을 조절합니다. */
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }
    .header_bar{
        margin-top: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 35px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

    .header_bar {
        padding: 20px;
    }

    .footer_bar {
        padding: 20px 0;
    }
    .header_bar {
        top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        margin-bottom: 10px;
    }

    .header_bar {
        padding: 15px;
    }
}